/* Estilos para las fuentes */

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: light;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: medium;
}

/* Estilos para las fuentes */