/* Estilos para los elementos */

body{
    margin: 0;
    background-color: #FFFF;
    font-family: Quicksand, sans-serif;
    padding: 0;
}

header{
    background-color: #7B5037;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0;
}

/* Estilos para los elementos */


/* Estilos para los login */

/* Estilos para los login */
